body{
    font-family: arial, sans-serif;
    margin: 0;
}

.hero{
    background-image: url(imagem/escola.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

#principal{
    width: 1024px;
    margin: 10px auto;
    top: 0;

}

